<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<% if !(@book.tags.nil?) && !(@book.tags.empty?) %>
    <p>
      <strong>Tags:</strong>
      <%= @book.tags %>
    </p>
<% end %>

<p>
  <strong>Volume:</strong>
  <%= @book.volume %>
</p>

<p>
  <strong>Series:</strong>
  <%= @book.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @book.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Month:</strong>
  <%= @book.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @book.note %>
</p>

<p>
  <strong>Key:</strong>
  <%= @book.bkey %>
</p>

<pre>
  @book{<%= @book.key %>,
      author = {<%= @book.author %>},
      title = {<%= @book.title %>},
      publisher = {<%= @book.publisher %>},
      year = {<%= @book.year %>},
    }
</pre>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
