<!DOCTYPE html>
<html>
<head>
  <title>ReferenceLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav">
  <li><%= link_to 'references', root_path %></li>
  <li><%= link_to 'plain text', showall_path %></li>
  <li><%= link_to 'create new reference', :controller => :references, :action => :createanynew%></li>
  <li><%= link_to 'download bibtex', "/raw" %></li>
</ul>
<div>
  <%= form_tag('/search')  do %>
      <%= text_field_tag :search, params[:search]%>
      <%= submit_tag "Search", :name => nil  %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
